@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    overflow: hidden;
/*      background-color: #ece5da;*/
background-color: #9bb1ff;
    
  text-align: center;
}

.spacebg {
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}

#overlay {
    display: none;
    margin-top: 20%;
    font-size: 5em;
    line-height: 2em;
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 20% 0;
}
.main {
font-family: 'Cinzel Decorative', cursive;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
/*  color: #f1ebe5;*/
    color: #bfd7ff;
/*  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;*/
    text-shadow: 0 13.36px 8.896px #788bff,0 -2px 1px #fff;
    
  letter-spacing: -4px;
}

.time {
    font-size: 40vmin; 
}

.spacecircle {
    position: fixed;
    z-index: -1;
    top: 6vmin;
    left: 0;
    right: 0;
    margin: auto;
    width: 66vmin;
    height: 66vmin;
    border-radius: 50%;
    border: 0.1vmin solid currentColor;
    opacity: 0.5;
}
.invisiblecircle {
    position: relative;
    z-index: -1;
    top: 8vmin;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    border: 0.6vmin solid none;
    animation: planet-rotate 6s linear infinite;
}

span.planet {
    display: block;
    width: 30px;
    height: 30px;
    -webkit-animation: planet-rotate 6s linear infinite;
    animation: planet-rotate 6s linear infinite reverse;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1vmin solid none;
    border-radius: 50%;
    background: #b6bac5;
    background-image: 
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, #7f7fd5),
        color-stop(1, #86A8E7)
    );
    background-image: 
        -moz-linear-gradient(
        center bottom,
        #7f7fd5 22%,
        #86A8E7 100%
    );
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

.date {
    font-size: 6vw;
    margin-top: 25vmin;
    letter-spacing: 0.318em;
}
.footer {
    font-size: 1.6vw;
    margin-top: 16vmin;
    letter-spacing: 1px;
}

