@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
* {
    margin: 0;
    padding: 0;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    overflow: hidden;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: whitesmoke;
    opacity: 0;
    z-index: -2;
}

.spacebg {
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}
#main {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    margin: 10% 0;
}
.main {

    color: rgba(0,0,0,0.6);
    text-shadow: 4px 4px 6px rgba(255,255,255,0.15);
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    
/*
        text-shadow:
            -0.1rem -0.1rem 0.3rem #fff,
            0.1rem 0.1rem 0.3rem #fff,
            0 0 0.5rem #daf6ff,
            0 0 1rem #daf6ff,
            0 0 1.5rem #daf6ff,
            0 0 2rem #daf6ff,
            0 0 2.5rem #daf6ff;
*/
    
}

.time {
    font-size: 40vmin; 
}


/*	
============
	Light
============
*/
/*
.time::before {
  content:"";
  width: 100%;
  height: 750px;
  position: absolute;
  top: -200px;
  left: 10px;
  transform: rotate(55deg);
  background: rgba(206,188,155,.7);
  background: -moz-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,188,155,.7)), color-stop(65%, rgba(42,31,25,0)));
  background: -webkit-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -o-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -ms-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 ); );
}
*/


.spacecircle {
    position: fixed;
    z-index: -1;
    top: 10vmin;
    left: 0;
    right: 0;
    margin: auto;
    width: 66vmin;
    height: 66vmin;
    border-radius: 50%;
    border: 0.1vmin solid currentColor;
    opacity: 0.5;
}
.invisiblecircle {
    position: relative;
    z-index: -1;
    top: 7vmin;
    left: 0;
    right: 0;
    margin: auto;
    width: 51vmin;
    height: 51vmin;
    border-radius: 50%;
    border: 0.6vmin solid none;
    animation: planet-rotate 6s linear infinite;
}

span.planet {
    display: block;
    width: 30px;
    height: 30px;
    -webkit-animation: planet-rotate 6s linear infinite;
    animation: planet-rotate 6s linear infinite reverse;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1vmin solid none;
    border-radius: 50%;
    background: #b6bac5;
    background-image: 
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, #7f7fd5),
        color-stop(1, #86A8E7)
    );
    background-image: 
        -moz-linear-gradient(
        center bottom,
        #7f7fd5 22%,
        #86A8E7 100%
    );
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

.date {
    font-size: 6vw;
    margin-top: 1vmin;
}

.imgIntro {
    display: none;
    font-family: 'Lalezar', cursive;
	font-weight: 700;
	color: #eff7f6;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 18em;
	height: 15em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(26deg);
}
#title::after {
    position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
}

#titles p
{
	text-align: justify;
	margin: 0.5em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #e0fbfc;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 0s infinite;
	-moz-animation: scroll 100s linear 4s infinite;
	-ms-animation: scroll 100s linear 4s infinite;
	-o-animation: scroll 100s linear 4s infinite;
	animation: scroll 20s linear 0s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -110%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -110%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -110%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -110%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; 
    }
}

  
